<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>servl</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<display-name>BoardController</display-name>
		<servlet-name>BoardController</servlet-name>
		<servlet-class>board.action.BoardController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BoardController</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<display-name>ReplyController</display-name>
		<servlet-name>ReplyController</servlet-name>
		<servlet-class>reply.action.ReplyController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReplyController</servlet-name>
		<url-pattern>*.ro</url-pattern>
	</servlet-mapping>
	
</web-app>